html {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  min-height: 100vh;
}

form {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .text {
  padding: 8px;
}

.todo-list {
  padding: 0;
}

.todo-item {
  background-color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 10px 0 10px;
  border: 1px solid green;
}
